<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="psubdistribuidor"></ion-back-button>
    </ion-buttons>
    <ion-title>Cobro del Pedido</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-card>
      <ion-item lines="full">
        <p>Fecha de cobro <br> 
          2022-Marzo-02</p>
          <p slot="end">No. Cobranza <br>|#100</p>
          
      </ion-item>
      
      <ion-item lines="none">
        <p>Cantidad</p>
        <p slot="end">$860.00</p>
      </ion-item>

      <ion-item lines="none">
        <p>Forma de Pago</p>
        <p slot="end">Deposito Bancario</p>
      </ion-item>

      <ion-item lines="full">
        <p>Autorizador por</p>
        <p slot="end">Selene</p>
      </ion-item>
      <ion-item lines="none">
        <p><b>Total del Pedido</b></p>
        <p slot="end">$860.00</p>
      </ion-item>
      <ion-item lines="full">
        <p><b>Resta por pagar</b></p>
      <p slot="end">$00.00</p>
      </ion-item>


     
    </ion-card>
  
  </ion-content>
  