<ion-header >
  <ion-toolbar >
    <ion-item lines="none">
      <ion-title>P. Comerciante</ion-title>
      <ion-item >
        <ion-icon button="" (click)="onClick()" slot="end" name="search-outline"></ion-icon>
      </ion-item>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu"></ion-back-button>
      </ion-buttons>
    </ion-item>
   
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-card>
    <ion-item  lines="none">
      <ion-icon button="" slot="end" name="ellipsis-horizontal-outline" [routerLink]="['/detalle-pedido-sub']"  routerLinkActive="router-link-active"></ion-icon>
      <h6>#Pedido 000 - Status</h6>
    </ion-item>
      <ion-item lines="none" >
        <ion-icon button="" slot="end" name="cash-outline" [routerLink]="['/cobro-pedido-sub']"  routerLinkActive="router-link-active"></ion-icon>
      <p>Rene Gomez</p>
    </ion-item>
    <ion-item>
      <p>2022-Marzo-02</p>
    </ion-item>
  </ion-card>
</ion-content>
