<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="promociones"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Promocion</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-item color="none" lines="none" > 
      <h5><b>Detalles de la Promoción</b></h5>
    </ion-item>
    <ion-card>
      <ion-item lines="full">
        <p slot="end">No. Promocion<br>|#163</p>
        <p>Fecha de inicio<br> 
          2022-Marzo-02 <br><br> 
          Fecha Final <br>
          2022-Abril-02</p>
      </ion-item>
      
      <ion-item lines="full">
        <h2>Cinco más uno</h2>        
      </ion-item>
      <ion-item lines="none">
          En la compra de 5 tintes te regalo un 
          tinte
      </ion-item>
</ion-card>

  <!-- PRODUCTOS DE COMPRA OBLIGATORIOS -->

    <ion-item color="none" lines="none" > 
      <h5><b>Productos de compra Obligatorios</b></h5>
    </ion-item>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- PRODUCTOS DE REGALOS OBLIGATORIOS -->

  <ion-item color="none" lines="none" > 
    <h5><b>Productos de regalo Obligatorios</b></h5>
  </ion-item>
<ion-card>
  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>
</ion-card>



  </ion-content>
  