<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div id="header">
      <img src="../assets/img/imgUser.png" alt="">
  </div>
  <div class="form">
    <ion-item color="none">
      <ion-icon slot="end" name="pencil-outline"></ion-icon>
      <ion-input placeholder="COINTIC"></ion-input>
    </ion-item>
    <ion-item color="none">
      <ion-icon slot="end" name="pencil-outline"></ion-icon>
      <ion-input type="password" placeholder="*********"></ion-input>
    </ion-item>
    <div class="button">
      <ion-button class="boton" size="default" type="submit"  shape="round">GUARDAR</ion-button>
    </div>
  </div>

</ion-content>
