<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="vales"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de vale</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-item color="none" lines="none" > 
      <h5><b>Informacion del Vale</b></h5>
    </ion-item>
    <ion-card>
      <ion-item lines="full">
        <p slot="end">No. Vale<br>|17</p>
        <p>Fecha de inicio<br> 
          2022-Marzo-02 <br><br> 
          Fecha Final <br>
          2022-Abril-02</p>
      </ion-item>
      
      <ion-item lines="none">
        <br>
        Se genera con los rangos de compra
        $200 - $400 un 5% porcentaje, de $400.01
        - $800 un porcentaje del 10% y $800.01 -
        $15000 un 12%. Se genera con las líneas
        prueba ALEX, MARCA DE PRUEBAS, YVES 
        ROCHER Y MAC, EXCLUYE LOS PRODUCTOS 21
        ORO NACAR SOMBRAS, 23 OCEANO SOMBRAS,
        HIELO5.        
      </ion-item>
      <br>
</ion-card>


  </ion-content>
  